/* === GERAL ================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-primary-color: hsl(180, 8%, 92%);
  --white-color: hsl(0, 0%, 95%);
  --black-color: hsl(0, 0%, 5%);
  --gray-color: hsl(229, 19%, 22%);
  --orange-color: hsl(39, 96%, 48%);

  --header-of-page-dektop-margin: 23rem;
}

body,
html {
  background-color: var(--bg-primary-color);

  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;

  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* === MAIN ================================*/
/*=-=-=  NAVIGATION HISTORIC  =-=-=*/
.historic {
  color: var(--gray-color);

  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;

  margin: 2rem 0;
}

/* =-=-= REMOVE ALL =-=-= */
.remove_all {
  display: flex;
  justify-content: flex-end;

  margin: 0 1.5rem 1.5rem 0;
}

.remove_all button {
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--orange-color);
}

/* =-=-= PRODUCT LIST =-=-= */
.product_list {
  width: 90%;
  margin: auto;
}

.product_list ul li.product_list_item {
  display: grid;
  grid-template-areas: 'A B B';

  padding: 1.6rem;
  margin-bottom: 3.5rem;
  background-color: var(--white-color);
}

.product_list_item .img {
  width: 7rem;
  height: 7rem;
  background-color: #c4c4c4;
  border-radius: 0.5rem;
}

.product_list_item .product_name {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--black-color);
}

.product_list .product_price {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #6f6f6f;
}

.product_list_item .remove {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1rem;
  text-decoration-line: underline;
  color: var(--orange-color);
}

.product_list_item {
  display: flex;
  gap: 1rem;
}

.product_list_item .checkbox_and_img {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.product_list_item .name_price_select_remove {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.product_list_item .price_select_remove {
  display: flex;
  gap: 22%;
}

.product_list_item .price_and_select {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product_list select {
  font-size: 1.2rem;
  height: 2rem;
  border-radius: 0.5rem;
  border-color: var(--orange-color);
}

/* =-=-= PRODUCT LIST =-=-= */
.end {
  width: 90%;
  margin: auto;
}

.end hr {
  width: 80%;
  margin: 0 auto 2rem;
  border: none;
  height: 0.15rem;
  background-color: var(--gray-color);
}

.end .totalPrice_and_budgetButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.end .totalPrice {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--black-color);
}

.end .totalPrice span {
  font-weight: 800;
}

.end button {
  background-color: var(--orange-color);
  padding: .8rem 2.4rem;
  border-radius: 1.5rem;

  color: var(--white-color);
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
}
