/* === GERAL ================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-primary-color: hsl(180, 8%, 92%);
  --white-color: hsl(0, 0%, 95%);
  --black-color: hsl(0, 0%, 5%);
  --gray-color: hsl(229, 19%, 22%);
  --orange-color: hsl(39, 96%, 48%);

  --header-of-page-dektop-margin: 23rem;
}

body,
html {
  background-color: var(--bg-primary-color);

  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;

  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* === MAIN ================================*/
/*=-=-=  NAVIGATION HISTORIC  =-=-=*/
.historic {
  color: var(--gray-color);

  font-weight: 700;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;

  margin: 2rem 0;
}

/* =-=-= REMOVE ALL =-=-= */
.remove_all {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 1.5rem;
  width: 95%;
}

.remove_all button {
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--orange-color);
}

/* =-=-= PRODUCT LIST =-=-= */
.product_list {
  width: 90%;
  margin: auto;
}

.product_list ul li.product_list_item {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1.6rem;
  margin-bottom: 3.5rem;
  background-color: var(--white-color);
}

.product_list_item input {
  cursor: pointer;
}

.product_list_item .img {
  width: 7rem;
  height: 7rem;
  background-color: #c4c4c4;
  border-radius: 0.5rem;
}

.product_list_item .product_name {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--black-color);
}

.product_list .product_price {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #6f6f6f;
}

.product_list select {
  font-size: 1.2rem;
  height: 2rem;
  border-radius: 0.5rem;
  border-color: var(--orange-color);
}

.product_list_item .remove {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1rem;
  text-decoration-line: underline;
  color: var(--orange-color);
}

.product_list_item {
  display: flex;
  gap: 1rem;
}

.product_list_item .checkbox_and_img {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.product_list_item .name_price_select_remove {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.product_list_item .price_select_remove {
  display: flex;
  gap: 3rem;
}

.product_list_item .price_and_select {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.end {
  width: 90%;
  margin: auto;
}

.end hr {
  width: 80%;
  margin: 0 auto 2rem;
  border: none;
  height: 0.15rem;
  background-color: var(--gray-color);
}

.end .totalPrice_and_budgetButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.end .totalPrice {
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--black-color);
}

.end .totalPrice span {
  font-weight: 800;
}

.end button {
  background-color: var(--orange-color);
  padding: 0.8rem 2.4rem;
  border-radius: 1.5rem;

  color: var(--white-color);
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
}

/* =-=-= RESPONSIVIDADE =-=-= */
@media (min-width: 375px) {
  /* =-=-= PRODUCT LIST =-=-= */
  .product_list_item .price_select_remove {
    gap: 7rem;
  }

  .product_list_item .price_and_select {
    gap: 2rem;
  }
}

@media (min-width: 425px) {
  /* =-=-= PRODUCT LIST =-=-= */
  .product_list_item .price_select_remove {
    gap: 11rem;
  }
}

@media (min-width: 768px) {
  /* =-=-= REMOVE ALL =-=-= */
  .remove_all {
    width: 80%;
  }

  /* =-=-= PRODUCT LIST =-=-= */
  .product_list,
  .end {
    width: 60%;
  }

  .product_list ul li.product_list_item {
    gap: 2rem;
  }

  .product_list_item .price_select_remove {
    gap: 17rem;
  }
}

@media (min-width: 1024px) {
  /*=-=-=  NAVIGATION HISTORIC  =-=-=*/
  .historic {
    font-size: 1.1rem;

    margin: 3rem 0;
  }

  /* =-=-= REMOVE ALL =-=-= */
  .remove_all {
    margin-bottom: 2.5rem;
  }

  .remove_all button {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  /* =-=-= PRODUCT LIST =-=-= */
  .product_list_item input {
    width: 1.5rem;
    height: 1.5rem;
  }

  .product_list_item .img {
    width: 10rem;
    height: 10rem;
  }

  .product_list_item .product_name,
  .product_list .product_price {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .product_list select {
    font-size: 1.4rem;
  }

  .product_list_item .remove {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }

  .product_list_item .price_select_remove {
    gap: 23rem;
  }

  .product_list_item .checkbox_and_img {
    gap: 1.6rem;
  }

  .product_list_item .name_price_select_remove {
    gap: 4rem;
  }

  .end .totalPrice {
    font-size: 1.8rem;
    line-height: 2.1rem;
  }

  .end button {
    padding: 1rem 2.6rem;
    border-radius: 2rem;

    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

@media (min-width: 1440px) {
  /*=-=-=  NAVIGATION HISTORIC  =-=-=*/
  .historic {
    font-size: 1.2rem;
  }

  /* =-=-= REMOVE ALL =-=-= */
  .remove_all {
    margin-bottom: 4rem;
    width: 75%;
  }

  .remove_all button {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  /* =-=-= PRODUCT LIST =-=-= */
  .product_list {
    width: 50%;
  }

  .product_list ul li.product_list_item {
    gap: 4rem;
  
    padding: 2.2rem;
    margin-bottom: 5rem;
  }

  .product_list_item input {
    width: 1.6rem;
    height: 1.6rem;
  }

  .product_list_item .img {
    width: 14rem;
    height: 14rem;
  }

  .product_list_item .product_name,
  .product_list .product_price {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  .product_list select {
    font-size: 1.8rem;
    height: 2.4rem;
  }

  .product_list_item .remove {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
  
  .product_list_item .checkbox_and_img {
    gap: 1.6rem;
  }

  .product_list_item .name_price_select_remove {
    gap: 6rem;
  }
  
  .product_list_item .price_select_remove {
    gap: 45rem;
  }

  .product_list_item .price_and_select {
    gap: 3rem;
  }

  .end .totalPrice {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  .end button {
    padding: 1.5rem 3.1rem;
    border-radius: 3rem;

    font-size: 1.6rem;
    line-height: 2rem;
  }
}
